{% extends 'base.html' %}

{% block content %}
    <h1>Album: {{album}}</h1>

    <div>
        {% if album.photo and album.photo.name %}
            <img src="{{ album.photo.url }}" style="max-height: 300px; max-width: 300px;">
        {% endif %}
        <p>Nome: {{ album.title }}</p>
        <p>Lançamento: {{ album.release_year }}</p>
    </div>

    <h2>Songs</h2>
    <ul>
        {% for song in songs %}
            <li>
                <a href="{% url 'bandas:song_detail' song.pk %}">{{ song }}</a>
                {% if song.letra  %}
                    <i class="fa fa-file-word-o" aria-hidden="true"></i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated and canUserManipulate%}
        <a href="{% url 'bandas:edit_album' album.id %}"> <button>Editar Album</button></a>
        <a href="{% url 'bandas:delete_album' album.id %}"> <button>Apagar Album</button></a>
        <a href="{% url 'bandas:create_song'%}"> <button>Criar música</button></a>
    {% endif %}

    <a href="{% url 'bandas:band_detail' album.band.id%}">
      <button>Cancel</button>
    </a>

{% endblock %}
