<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ movie.title }}</title>
</head>
<body>

<h1>Filmes</h1>

<h3>{{ movie.genre }}</h3>

<p>Atores:</p>
<ul>
    <li>
        <p>
            {% for actor in movie.actors.all %}
                {{ actor.name }}.
            {% endfor %}
        </p>
    </li>
</ul>

{% if movie.photo %}
    <img src="{{ movie.photo.url }}" alt="{{ movie.title }}">
{% endif %}

<p><button id="botao" onclick="history.back()">Lista de Filmes</button></p>

<footer>
    <p>{{current_year}}</p>
</footer>

</body>
</html>
