<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Filmes</h1>

    {% for genre in genres %}
    <h3>{{genre}}</h3>
    <ul>
        {% for movie in movies %}
            {% if movie.genre == genre %}
                <li>
                <p><a href="{% url 'filmes:movie_detail' movie.id %}">{{ movie.title }}</a> - Actors:
                    {% for actor in movie.actors.all %}
                        {{ actor.name }}.
                    {% endfor %}
                </p>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% endfor %}

    <a href="{% url 'welcome' %}">
      <button>Cancel</button>
    </a>


    <footer>
        <p>{{current_year}}</p>
    </footer>

</body>
</html>
